* {
    margin: 0;
    padding: 0;
}

body {
    background: no-repeat;
    background-size: cover;
    background-image: url("https://t3.ftcdn.net/jpg/06/12/70/36/360_F_612703662_ttt7rTL0S1y0VOQRz2fRWDC5fv1AWYMM.jpg");
    image-resolution: 10000DPI;
    width: 100%;
    height: 1vh;
}

form {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    height: 50vh;
    width: 320px;
    margin-left: 550px;
    margin-top: 150px;
    padding: 10px;
    background-color: transparent;
    color: black;
    text-align: center;
    border: 1px solid black;
    border-radius: 25px;
    backdrop-filter: blur(10px);
}

.inputbox {
    width: 60%;
    height: 35px;
    background-color: transparent;
    color: black;
    font-weight: bolder;
    font-size: 18px;
    margin-left: 25%;
    outline: none;
    border: none;
    background-color: transparent;
}

.inputbox1 {
    width: 60%;
    height: 35px;
    margin-top: -2%;
    margin-left: 14%;
    outline: none;
    border: none;
    background-color: transparent;
}

h2 {
    margin-top: -20px;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.center {
    background-color: #0088cc;
    border: 2px solid #1477a8;
    width: 100px;
    height: 29px;
    border-radius: 100px;
    font-weight: bold;
    margin-top: 8%;
    text-decoration: none;
    cursor: pointer;
    outline: none;
}

hr {
    color: black;
    width: 67%;
    margin-left: 15%;
}